/* Angled Footer */
body.tweak-site-width-option-full-width.tweak-footer-show:not(.tweak-site-border-show),
body.tweak-site-width-option-full-background.tweak-footer-show:not(.tweak-site-border-show) {
	background: white;
}
.Footer {
	-webkit-clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
}

@media screen and (max-width: 640px) {
	.Footer {
		-webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
		clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
	}
}

	