.sqs-gallery-container.sqs-gallery-block-meta-only-title {
    .slide {
        position: relative; 
        
        // Show overlay & title on hover
        &:hover {
            // Overlay
            .sqs-video-wrapper:before {
                content: '';
                z-index: 1;
                position: absolute;
                top   : 0;
                left  : 0;
                right : 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.75);
            }
            .image-slide-title {
                display: block; 
            }
        }
        .image-slide-title {
            display: none;
            z-index: 2;

            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin-top: 0;
            
            white-space: normal;
            text-align: center;
            line-height: 1;
            font-family: bebas-neue;
            font-size: 2.3em;
            color: white; 
            @media screen and (max-width: 860px) {
                font-size: 20px;
            }
        }
    }
}