#collection-5c6ac102104c7b6738d848ab {
    
/*========== WHO WE ARE ===============*/ 
  .Index-page {
  	background-color: white !important;
  }
  h1, h2, p {
  	color: black;
  }
  a:not(.Mobile-overlay-nav-item),
  .sqs-block-html p a{
    color: rgba(0, 0, 0, 0.7);
  	 border-bottom-color: hsla(0, 0%, 0%, 0.7);
  }
   a:hover:not(.Mobile-overlay-nav-item),
  .sqs-block-html p a:hover {
     color: #000;
  	 border-bottom-color: #000;
  }
  
  
  .small-button-style-outline .sqs-block-button .sqs-block-button-element--small {
  	color: #121212;
    border-color: #121212;
  }
  .small-button-style-outline .sqs-block-button .sqs-block-button-element--small:hover {
  	color: #fff;
    border-color: transparetn;
    background-color: #121212;
  }
  
  .Footer {
  	background: #ffffff !important;
  }
  .Footer-inner {
  	background-color: #000000 !important;
  }
  .Footer h3,
  .Footer p, 
  .Footer a{
  	color: #ffffff !important;
    border-color: rgba(255, 255, 255, 0.7)!important;
  }

}